#mobileControls button {
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-family: 'zabras';
    background-color: #ff9247;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


#mobileControls button:active {
    transform: scale(0.95);
}

.button_div {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}


@media only screen and (pointer: coarse) and (max-width: 1399px) {
    #mobileControls.visible {
        display: flex !important;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        gap: 320px;
        justify-content: center;
    }

    .button_mobile_space {
        width: 90px !important;
    }

    h1 {
        display: none;
    }
}


@media only screen and (pointer: coarse) and (min-width: 768px) and (max-width: 1399px) {
    #mobileControls.visible {
        gap: 280px;
    }

    #mobileControls button {
        width: 100px;
        font-size: 30px;
    }

    .button_mobile_space {
        width: 100px !important;
    }
}